---
import { HeartIcon } from '@lucide/astro';
---

<div class="log-status" aria-label="Current mood">
    <HeartIcon class="log-icon" />
    <div class="log-status-content">
        <slot />
    </div>
</div>
