---
// src/pages/404.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="404">
    <p>
        Sorry, the big bugs in my garden panicked and slayed this page, or it didn't exist to begin
        with. There's nothing here.
    </p>
    <p>
        <a href="/garden/">Return to the garden</a>
    </p>
</BaseLayout>
