---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Flipse';

const birthDate = new Date('1988-03-04'); // replace with your birthday (YYYY-MM-DD)
const today = new Date();

let age = today.getFullYear() - birthDate.getFullYear();

// Adjust if birthday hasn’t happened yet this year
const hasHadBirthdayThisYear =
    today.getMonth() > birthDate.getMonth() ||
    (today.getMonth() === birthDate.getMonth() && today.getDate() >= birthDate.getDate());

if (!hasHadBirthdayThisYear) {
    age -= 1;
}
---

<BaseLayout pageTitle={pageTitle}>
    <article>
        <h1 class="title-test">About Flipse</h1>

        <h2>whatever h2</h2>

        <p class="quick-facts">
            My name is Flipse (she/her), I'm {age} and autistic. My special subject is music + making
            lists with data, so I thoroughly enjoyed discovering <a
                href="https://record.club/mournstera/">Record.Club</a
            > recently. I have a handful of diagnoses including bipolar, which alongside my late-diagnosed
            autism directs most of my life, hence why I'm an early disability retiree.
        </p>

        <p>I do love concerts, watermelon, Doctor Who, and TTRPG.</p>

        <h3>Early Web Days</h3>
        <p>
            I began my journey with b2/cafelog and "online diaries" (before the term <em>blog</em
            > was coined) around 1999/2000, complete with a domain, webrings, and fanlistings.
        </p>

        <h3>Tumblr Era</h3>
        <p>
            I found Tumblr in 2009, and began releasing Tumblr themes around 2012 while
            attempting to wrangle their <em>interesting</em> choices of code. As of late 2025, I decided
            that Tumblr was neither my circus nor my monkeys.
        </p>

        <p>
            Primarily the reasons for quitting, were influenced by <a
                href="https://techcrunch.com/2024/02/22/tumblr-ceo-publicly-spars-with-trans-user-over-account-ban-revealing-private-account-names-in-the-process/"
                aria-label="Read more on Tumblr CEO moderation and trans accounts stalking"
                target="_blank"
                rel="noopener noreferrer">this</a
            > and also <a
                href="https://changes.tumblr.com/post/797397804182044672/"
                aria-label="Readm more about how Tumblr is rolling out ads blog sites with custom themes as well"
                target="_blank"
                rel="noopener noreferrer">this</a
            >.
        </p>

        <h3>Current Adventures</h3>
        <p>
            Currently untangling years of - let's be honest - questionable JavaScript habits
            courtesy of Tumblr. I have only recently discovered Astro, so this site is very basic
            and very much my future playground!
        </p>
    </article>
</BaseLayout>
