---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Flipse';
---

<BaseLayout pageTitle={pageTitle}>
    <h2>About</h2>

    <p>Here are a few facts about me:</p>

    <p>My skills are:</p>
</BaseLayout>
