---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = `What's in my bag?`;
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h1>What's in my bag?</h1>
        <p>text here.</p>
    </section>
</BaseLayout>

<style>
    section {
        max-width: var(--section-width);
        width: 100%;
        margin: 0 auto;
    }
</style>
