---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = `What's in my bag?`;
---

<BaseLayout pageTitle={pageTitle}>
    <h2>What's in my bag?</h2>
    <p>text here.</p>
</BaseLayout>
