---
import BaseLayout from '../layouts/BaseLayout.astro';
import ExternalLink from '../components/ExternalLink.astro';

const pageTitle = `Colophon`;
const pageDescription = `Behind the scenes of Mournstera: design, build, and sources.`;
---

<BaseLayout pageTitle={pageTitle} {pageDescription}>
    <dl class="definition">
        <dt>Mournstera</dt>
        <dd>
            <span class="pronunciation ipa">/ˈmɔːn.stə.rə/</span>
            <span class="pronunciation simple">(“morn-ster-uh”)</span>
            <span class="definition-description">
                From <i>monstera</i> + <i>mourn</i>. A personal name blending grief and growth.</span
            >
        </dd>
    </dl>

    <div class="divider"></div>

    <article class="info">
        <h3>Policy and build</h3>
        <p>
            This site is build with Astro, and served entirely as static files from Cloudflare. I do
            not track any personal data, there are no cookies, and the only analytics come from
            Cloudflare's basic traffic metrics.
        </p>
    </article>

    <article class="credits">
        <h3>Credits</h3>
        <ul class="needed">
            <li>
                Lightning SVG by mamewmy: <ExternalLink
                    href="https://www.freepik.com/author/mamewmy"
                    label="Freepik"
                />
            </li>
            <li>
                Sunglass SVG by juicy_fish: <ExternalLink
                    href="https://www.freepik.com/free-vector/sunglasses-glyph-style_255223649.htm"
                    label="Freepik"
                />
            </li>
            <li>
                Moon SVG by SVGRepo: <ExternalLink
                    href="https://staging.svgrepo.com/svg/188699/moon"
                    label="svgrepo"
                />
            </li>
        </ul>
    </article>
</BaseLayout>

<style>
    .definition {
        dt {
            font-weight: 700;
            font-size: var(--h4);
        }

        dt::after {
            content: ' —';
            font-weight: normal;
        }

        dd {
            margin: var(--space-0) 0 0;
            line-height: var(--line-height-sub);
        }

        .pronunciation {
            display: block;
            font-family: monospace;
            font-size: var(--text-sm);

            &.ipa {
                margin-bottom: var(--px6);
            }

            &.simple {
                font-style: italic;
            }
        }

        .definition-description {
            margin-top: var(--text-margin-sm);
            display: block;
        }
    }
</style>
