---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = `Colophon`;
const pageDescription = `tba!!`;
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <p>{pageDescription}</p>

    <p>Monstera + mourn = Mournstera.</p>

    <p>
        Sunglass SVG by
        <a
            href="https://www.freepik.com/free-vector/sunglasses-glyph-style_255223649.htm#fromView=search&page=1&position=1&uuid=bd9a4c00-cad9-4ec5-b8e9-926ed49d8123&query=Sunglasses+svg"
            >juicy_fish on Freepik</a
        >
    </p>
</BaseLayout>
