---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Desk from '../assets/images/desk1.webp';
import ExternalLink from '../components/ExternalLink.astro';

const pageTitle = 'Cozy Corner';
const pageDescription = `A list of the gear I currently use for my cozy workspace.`;
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <section>
        <p>
            {pageDescription} I do ball on a budget and the privilege of nice gifts from family members
            and friends. These are things I use every day.
        </p>
        <Image src={Desk} loading="eager" alt="Cozy workspace corner" class="desk" />

        <div class="divider"></div>

        <div class="item-list">
            <article class="item" aria-labelledby="item-computer-title">
                <h4 id="item-computer-title" class="item-title">Computer</h4>

                <ExternalLink
                    href="https://www.omen.com/us/en/desktops/omen-25l.html"
                    label="HP Omen 25L i5-12/16/2048/3070"
                />

                <p id="item-computer-desc" class="item-desc">
                    Having a white PC is real nice. I'm a happy camper.
                </p>
            </article>

            <article class="item" aria-labelledby="item-desk-title">
                <h4 id="item-desk-title" class="item-title">Desk</h4>

                <ExternalLink
                    href="https://www.ikea.com/gb/en/p/mittzon-desk-walnut-veneer-white-s49528057/"
                    label="IKEA Mitzon"
                />

                <p id="item-desk-desc" class="item-desc">
                    I had my worries about potentially wobbly legs, but there's no issues. I'm very
                    happy about how easy my cable management has become.
                </p>
            </article>

            <article class="item" aria-labelledby="item-headphones-title">
                <h4 id="item-headphones-title" class="item-title">Headphones</h4>

                <ExternalLink
                    href="https://www.jbl.com/on-ear-headphones/TUNE510BT-.html"
                    label="JBL Tune 510BT"
                />

                <p id="item-headphones-desc" class="item-desc">
                    I am very particular about my ears (hi autism!) and this was an <i
                        >"I'll buy proper stuff next month but this should do"</i
                    > purchase, and it ended up working out.
                </p>
            </article>

            <article class="item" aria-labelledby="item-keycaps-title">
                <h4 id="item-keycaps-title" class="item-title">Keycaps</h4>

                <ExternalLink
                    href="https://www.amazon.com/Sumgsn-Gradient-Mechanical-Keyboard-Switches/dp/B0BYJBRT6L?th=1"
                    label="Sumgsn gradient green"
                />

                <p id="item-keycaps-desc" class="item-desc">
                    They were pretty. A few years in, they're not displaying any wear at all.
                </p>
            </article>

            <article class="item" aria-labelledby="item-keyboard-title">
                <h4 id="item-keyboard-title" class="item-title">Keyboard</h4>

                <ExternalLink
                    href="https://www.amazon.co.uk/AJAZZ-Mechanical-Keyboard-Full-key-Hot-Swappable/dp/B0CQNRQFW8"
                    label="AJAZZ AK820 75%"
                />

                <p id="item-keyboard-desc" class="item-desc">
                    I just needed a cheap mechanical keyboard to play with. A great beginner
                    purchase, but I Will be investing in something better at some point.
                </p>
            </article>

            <article class="item" aria-labelledby="item-monitor-title">
                <h4 id="item-monitor-title" class="item-title">Monitor</h4>

                <ExternalLink
                    href="https://www.amazon.co.uk/Lenovo-D32q-20-31-5-FreeSync-Monitor/dp/B085ZXS65Y"
                    label="Lenovo D32q-20"
                />

                <p id="item-monitor-desc" class="item-desc">
                    Look, it was on a 65% sale. The VESA mount placement is silly. I can live with
                    it.
                </p>
            </article>

            <article class="item" aria-labelledby="item-stand-title">
                <h4 id="item-stand-title" class="item-title">Monitor stand</h4>

                <ExternalLink
                    href="https://www.ikea.com/gb/en/p/sigfinn-monitor-stand-fixed-height-bamboo-veneer-20362929/"
                    label="Ikea Sigfinn"
                />

                <p id="item-stand-desc" class="item-desc">
                    I am working towards getting a monitor arm, but this'll do.
                </p>
            </article>

            <article class="item" aria-labelledby="item-mouse-title">
                <h4 id="item-mouse-title" class="item-title">Mouse</h4>

                <ExternalLink
                    href="https://www.logitech.com/en-eu/products/mice/lift-vertical-ergonomic-mouse.html"
                    label="Logitech Vertical Ergonomic Lift"
                />

                <p id="item-mouse-desc" class="item-desc">
                    I <em>cannot</em> live without this. Best purchase I've ever made.
                </p>
            </article>

            <article class="item" aria-labelledby="item-phone-title">
                <h4 id="item-phone-title" class="item-title">Phone</h4>

                <ExternalLink
                    href="https://www.samsung.com/uk/smartphones/galaxy-s25/"
                    label="Samsung Galaxy S25"
                />

                <p id="item-phone-desc" class="item-desc">
                    I'm not loyal to any android brand - it was 80% off on a Black friday sale.
                    Because of my hypermobile fingers, I don't do big phones anyways.
                </p>
            </article>

            <article class="item" aria-labelledby="item-tablet-title">
                <h4 id="item-tablet-title" class="item-title">Tablet</h4>

                <ExternalLink
                    href="https://www.samsung.com/uk/tablets/galaxy-tab-s/galaxy-tab-s9-plus-5g-graphite-256gb-sm-x816bzaaeub/"
                    label="Samsung Galaxy Tab S9+"
                />

                <p id="item-tablet-desc" class="item-desc">
                    I have practised the <a
                        href="https://bulletjournal.com/blogs/faq/what-is-the-bullet-journal-method"
                        aria-label="See Bulletjournal.com's FAQ and video (opens in new tab)"
                        target="_blank"
                        rel="noopener noreferrer">bullet journal method</a
                    > since 2013 but went "digital" in 2023 with a hybrid tablet format that benefits
                    my life specifically. I also use it as a tiny TV in bed. Great tablet.
                </p>
            </article>

            <article class="item" aria-labelledby="item-switches-title">
                <h4 id="item-switches-title" class="item-title">Switches</h4>

                <ExternalLink
                    href="https://www.amazon.co.uk/AJAZZ-Mechanical-Keyboard-Full-key-Hot-Swappable/dp/B0CQNRQFW8"
                    label="Tactile HP Yellow Switch"
                />

                <p id="item-switches-desc" class="item-desc">
                    I am not a tactile person. I am apparently a linear person, so this is not for
                    me in the long run.
                </p>
            </article>

            <article class="item" aria-labelledby="item-speaker-title">
                <h4 id="item-speaker-title" class="item-title">Speaker</h4>

                <ExternalLink
                    href="https://www.ultimateears.com/en-hk/wireless-speakers/wonderboom-4.html"
                    label="Ultimate Ears WONDERBOOM 2"
                />

                <p id="item-speaker-desc" class="item-desc">
                    I got this as a promo gift some time ago, I still do not have any speakers for
                    my desk setup so this'll do. I'm also a vinyl record lover, so it's not getting
                    used too much.
                </p>
            </article>
        </div>
    </section>
</BaseLayout>

<style>
    article:not(:last-of-type) {
        margin-bottom: var(--space-7);
    }

    article h4 {
        margin-top: 0;
    }

    article p {
        margin: var(--space-0) 0 0 0;
    }

    article a {
        font-family: var(--font-mono);
        line-height: var(--line-height-p);
    }

    article svg {
        color: var(--peach-accent);
        vertical-align: middle;
        vertical-align: text-bottom;
    }
    img.desk {
        border-radius: var(--radius-md);
        margin-top: var(--text-margin-md);
    }
</style>
