---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';
import '@/assets/styles/log.css';
import { FeatherIcon } from '@lucide/astro';

const pageTitle = `Now`;

const entries = await getCollection('log');
const sortedEntries = entries.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout pageTitle={pageTitle}>
    <section class="log">
        {
            sortedEntries.map(async (entry) => {
                const { Content } = await render(entry);
                return (
                    <article class="log-entry flow">
                        <time datetime={entry.data.pubDate.toISOString()}>
                            <FeatherIcon class="log-icon" />
                            {entry.data.pubDate.toLocaleDateString('en-GB', {
                                day: 'numeric',
                                month: 'short',
                                year: 'numeric',
                            })}
                        </time>

                        <Content />
                    </article>
                );
            })
        }
    </section>
</BaseLayout>
