---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Currently';

import Vinyl from '../components/icons/Vinyl.svg';
---

<BaseLayout pageTitle={pageTitle}>
    <section class="update-tab">
        <ul id="header-menu" aria-label="Currently">
            <li>Watching: Critical Role C3 + C4</li>
            <li>Playing: Harvest Town</li>
        </ul>

        <div id="scrobble" aria-label="Latest scrobbled track">
            <Vinyl />
            <a
                class="track"
                href="https://listenbrainz.org/user/flipse"
                aria-label="See my latest scrobbled songs on ListenBrainz"
                target="_blank"
                rel="noopener noreferrer"
            >
            </a>
        </div>
    </section>
</BaseLayout>
<style>
    svg {
        flex-shrink: 0;
        color: var(--accent-icons);
    }
    /* --- Scrobble */
    #scrobble {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
    }

    a.track {
        font-family: var(--font-mono);
        font-size: var(--p-sm);
        display: inline-block;
        color: var(--text-secondary);
        line-height: 1.4;

        &:hover {
            color: var(--color-accent1);
        }
    }
</style>
<script src="/scripts/scrobble.js" defer></script>
