---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = `Site info`;
const pageDescription = `tba!!`;
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <h1></h1>

    <p>{pageDescription}</p>
</BaseLayout>
