---
// GardenPost.astro

interface Props {
    url: string;
    title: string;
    pubDate?: Date;
    tags: string[];
}

const { url, title, pubDate } = Astro.props;
---

<li class="garden-title">
    {
        pubDate && (
            <time datetime={pubDate.toISOString()} class="post-date">
                {pubDate.toLocaleDateString('en-GB', {
                    day: '2-digit',
                    month: 'short',
                    year: 'numeric',
                })}
            </time>
        )
    }
    <a class="title-link" href={url}>
        {title}
    </a>
</li>
