---
// Navigation.astro;
import { ChevronDownIcon } from '@lucide/astro';
import { navLinks } from '@/assets/data/navLinks';

const current = Astro.url.pathname;
const isActive = (path: string) => current === path;
---

<nav class="main-nav main-nav__desktop" aria-label="Main">
    <ul>
        {
            navLinks.map((link) => (
                <li>
                    <a href={link.href} aria-current={isActive(link.href) ? 'page' : undefined}>
                        {link.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<div class="main-nav main-nav__mobile">
    <button
        type="button"
        class="menu-toggle"
        data-menu-btn
        data-menu-toggle
        aria-expanded="false"
        aria-controls="mobile-nav"
        aria-haspopup="menu">
        Menu
        <ChevronDownIcon />
    </button>

    <nav
        id="mobile-nav"
        class="mobile-nav-wrap"
        aria-label="Main navigation"
        data-menu-container
        aria-hidden="true">
        <ul>
            <li><a href="/">Home</a></li>
            {
                navLinks.map((link) => (
                    <li>
                        <a href={link.href} aria-current={isActive(link.href) ? 'page' : undefined}>
                            {link.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>

<style>
    /* nav a[aria-current='page'] {
        color: var(--text);
    } */

    /* SHARED CLASS */
    .main-nav {
        font-weight: 600;
        position: relative;
        max-width: 100%;
        border-radius: var(--radius--full);
        border: var(--px1) solid var(--border);
        background-color: var(--bg-alt);

        &.main-nav__mobile {
            padding: var(--px5);
        }
        &.main-nav__desktop {
            padding: var(--px8);
        }
    }
    a {
        padding: var(--px8) var(--space-1);
        color: var(--text-alt);
        text-decoration: none;

        &:hover {
            color: var(--accent-hover);
        }
    }
    :global(body::before) {
        content: '';
        position: fixed;
        inset: 0;
        background-color: var(--bg);
        opacity: 0;
        z-index: 100;
        pointer-events: none;
        transition: opacity var(--transition--snappy);
    }

    :global(body.noscroll::before) {
        opacity: 0.8;
        pointer-events: auto;
    }

    .main-nav__mobile {
        position: static;
    }
    button.menu-toggle {
        display: flex;
        gap: var(--px6);
        align-items: center;
        color: var(--text-alt);
        transition: color var(--transition--smooth);
        padding: var(--px8) var(--space-1);

        svg {
            stroke-width: 2.5;
            color: var(--text-alt);
            transition: transform var(--transition--snappy);
            width: 1em;
            height: 1em;
        }
    }
    button.menu-toggle.pressed svg {
        transform: rotateX(180deg);
    }

    button.menu-toggle:hover {
        color: var(--accent-hover);
    }

    nav.mobile-nav-wrap {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 1;
        transition: opacity var(--transition--snappy);
        transition-delay: 0.25s;
    }

    nav.mobile-nav-wrap:not(.open) {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }

    nav.mobile-nav-wrap ul {
        padding: var(--space-3);
        border-block: var(--px1) solid var(--border);
        background-color: var(--bg-alt);
        display: flex;
        flex-direction: column;
        gap: var(--space-3);
        min-width: 100%;
    }

    .main-nav__desktop {
        display: none;
    }

    /* ------ DESKTOP ------ */
    @media (min-width: 48rem) {
        .main-nav__desktop {
            display: inline-block;
        }

        .main-nav__desktop ul {
            display: flex;

            li {
                display: inline-flex;
            }

            a {
                padding: var(--px8) var(--space-1);
            }
        }

        .main-nav__mobile {
            display: none;
        }
    }
</style>
