---
const { href, label } = Astro.props;
import { ExternalLinkIcon } from '@lucide/astro';
---

<!-- prettier-ignore -->
<a href={href} class="external-link" target="_blank" rel="noopener noreferrer"><span class="external-link-text">{label}</span><ExternalLinkIcon /><span class="sr-only">(opens in a new tab)</span></a>

<style>
    svg.lucide-external-link {
        stroke: currentColor;
        height: 1.25em;
        width: 1.25em;
        vertical-align: text-bottom;
        margin-left: 0.125em;
    }
    a.external-link {
        font-weight: 500;
        color: var(--accent);
        text-decoration-color: var(--accent);
    }

    a.external-link:hover {
        color: var(--accent-hover);
        text-decoration: underline;
        text-decoration-color: var(--accent);
        text-underline-offset: var(--underline--offset);
        text-decoration-thickness: var(--underline--thickness);
    }
</style>
