---

---

<footer class="site-footer">
    <div class="site-footer-inner">
        <div id="currently" aria-live="polite">
            <span class="status-icon" aria-hidden="true"></span>
            <span class="sr-only">Currently:</span>
            <span class="status-text"></span>
        </div>
        <div id="footer-year">Mournstera 2026</div>
    </div>
</footer>

<style>
    footer.site-footer {
        width: 100%;
        max-width: var(--main-width);
        margin: 0 auto;
        padding: 0 var(--space-md);

        .site-footer-inner {
            border-top: 0.0625rem solid hsl(var(--border-color));
            padding: var(--space-md) 0;
            display: flex;
            justify-content: space-between;
        }
    }
    #currently {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    span.status-text {
        font-size: 0.8125rem;
        color: hsl(var(--text-secondary));
    }
    span.status-icon {
        display: inline-flex;

        svg {
            width: 1.125rem;
            height: 1.125rem;
        }
    }
    #footer-year {
        font-size: 0.8125rem;
        color: hsl(var(--text-secondary));
        font-weight: 500;
    }
</style>

<script src="/scripts/status.js" defer></script>
