---
import Bluesky from './icons/Bluesky.svg';
import Instagram from './icons/Instagram.svg';
import Github from './icons/Github.svg';
import Rss from './icons/Rss.svg';
---

<footer>
    <div class="footer-inner">
        <a
            class="rss"
            href="/rss.xml"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Subscribe via RSS"
        >
            <div class="svg-wrap"><Rss /></div>Join my adventures <span class="sr-only"
                >and subscribe on RSS</span
            >
        </a>

        <nav class="social" aria-label="Social links">
            <a
                href="https://bsky.app/profile/mournstera.me"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Follow on Bluesky"
            >
                <Bluesky />
            </a>
            <a
                class="insta"
                href="https://www.instagram.com/mournstera/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Follow on Instagram"
            >
                <Instagram />
            </a>
            <a
                href="https://github.com/flipsewtf"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Follow on GitHub"
            >
                <Github />
            </a>
        </nav>
    </div>
</footer>

<style>
    a {
        color: var(--text-primary);
    }

    footer {
        width: 100%;
        margin: 0 auto;
        max-width: var(--layout-width);
        padding-inline: var(--layout-padding);
    }

    .footer-inner {
        padding-block: var(--space-5);
        background-image: repeating-linear-gradient(
            to right,
            var(--border-primary) 0 7px,
            transparent 7px 10px
        );
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: top left;
        display: flex;
        gap: var(--space-3);
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    nav.social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-0);
    }

    nav.social a {
        padding: var(--2px);
        display: inline-flex;
        align-items: center;
    }

    nav.social a.insta {
        padding: var(--1px);
    }
    nav.social a.insta svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    a.rss {
        display: flex;
        align-items: center;
        gap: var(--space-1);
        font-family: var(--font-mono);
        font-size: var(--p-sm);
        font-weight: 500;
    }

    a.rss .svg-wrap {
        border-radius: var(--3px);
        background-color: var(--bg-alt);
        color: var(--text-primary);
        padding: 0.25rem;
        display: inline-flex;
    }
    a.rss svg {
        stroke-width: 2.5;
        height: 1.125rem;
        width: 1.125rem;
    }
</style>
