---
import { Bluesky, Instagram, Github, Rss } from '../components/icons';
---

<footer>
    <div class="footer-inner">
        <div class="footer-icons">
            <nav class="social" aria-label="Social links">
                <a
                    rel="me"
                    href="https://bsky.app/profile/mournstera.me"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow on Bluesky">
                    <Bluesky />
                </a>
                <!-- <a
                    rel="me"
                    class="insta"
                    href="https://www.instagram.com/flipse.me/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow on Instagram">
                    <Instagram />
                </a> -->
                <a
                    rel="me"
                    href="https://github.com/flipsewtf"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow on GitHub">
                    <Github />
                </a>
            </nav>
        </div>

        <div class="made-info">
            2026 <span role="img" aria-label="love heart">♡</span> Made in Denmark.
        </div>
    </div>
</footer>

<style>
    a {
        color: var(--text);
    }
    a:hover {
        color: var(--peach-accent);
    }

    footer {
        width: 100%;
        padding: 0 var(--layout-padding);
    }

    .footer-inner {
        border-top: var(--px1) solid var(--border);
        padding: var(--space-5) 0 var(--space-9) 0;
        display: flex;
        gap: var(--space-4);
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: calc(var(--layout-width) - var(--layout-padding) * 2);
        margin: 0 auto;
    }

    .footer-icons {
        display: flex;
        gap: var(--space-4);
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    nav.social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    nav.social a {
        padding: var(--px6);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    nav.social a.insta {
        padding: var(--px5);
    }
    nav.social a.insta svg {
        width: 1.625rem;
        height: 1.655rem;
    }

    .made-info {
        font-size: var(--text-sm);
        font-weight: 500;
        display: flex;
        gap: var(--px4);
        align-items: center;

        span {
            display: inline-flex;
            font-weight: 800;
        }
    }
</style>
