---
// GardenUpper.astro
---

<p class="description">
    My garden of thoughts, ideas, notes, observations—sometimes just braindumping—I don't know what
    this will be yet, but I'm excited to find out.
</p>

<div class="divider"></div>
