---
// GardenSidebar.astro
import { TagsIcon } from '@lucide/astro';
interface Props {
    tags: string[];
    currentTag: string;
}

const { tags, currentTag }: Props = Astro.props;

const basePath = '/garden';
---

<div class="sidebar-inner">
    <h3 class="garden-heading"><TagsIcon /> Tags</h3>

    <nav aria-labelledby="garden-tags-heading">
        <ul class="garden-tags" id="garden-tags-list">
            {
                tags.map((tag, i) => (
                    <li>
                        <a
                            href={tag === 'all' ? '/garden' : `${basePath}/tags/${tag}`}
                            class={tag === currentTag ? 'active' : undefined}
                            aria-current={tag === currentTag ? 'page' : undefined}>
                            <span class="sr-only">Show </span>
                            {tag}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
