---
import Sprout from './icons/Sprout.svg';
const { url, title, description, pubDate } = Astro.props;
---

<li class="garden-list">
    <article class="post-list">
        <a href={url}>
            <h2>{title}</h2>
        </a>
        {description && <p class="post-description">{description}</p>}
        <div class="date-wrap">
            <Sprout />

            {
                pubDate && (
                    <time datetime={pubDate.toISOString()} class="post-date">
                        {pubDate.toLocaleDateString('en-GB', {
                            day: 'numeric',
                            month: 'long',
                            year: 'numeric',
                        })}
                    </time>
                )
            }
        </div>
    </article>
</li>
