---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="site-header">
    <div class="site-header-inner">
        <nav>
            <Navigation />
        </nav>
        <ThemeIcon />
    </div>
</header>
