---
import ThemeToggle from './ThemeToggle.astro';

const current = Astro.url.pathname;
const isActive = (path: string) => current === path;
---

<header>
    <div class="header-inner">
        <a class="home" href="/" aria-label="Go to homepage">Mournstera<span>.</span></a>

        <div class="header-right">
            <nav aria-label="Main navigation">
                <ul id="header-menu">
                    <li>
                        <a class="mobile" href="/" aria-current={isActive('/') ? 'page' : undefined}
                            >Home</a
                        >
                    </li>

                    <li>
                        <a href="/about/" aria-current={isActive('/about/') ? 'page' : undefined}
                            >About</a
                        >
                    </li>

                    <li>
                        <a href="/bag/" aria-current={isActive('/bag/') ? 'page' : undefined}>Bag</a>
                    </li>

                    <li>
                        <a href="/blog/" aria-current={isActive('/blog/') ? 'page' : undefined}>Blog</a>
                    </li>
                </ul>
            </nav>
            <ThemeToggle />
        </div>
    </div>
</header>

<style>
    /* HEADER */
    header {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 200;

        background-color: var(--header-bg);
        backdrop-filter: blur(10px);
        padding: 0 var(--space-lg);
        border-bottom: var(--border) solid var(--border-color);
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: bottom left;
    }

    .header-inner {
        max-width: var(--main-width);
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a.home {
        display: none;
        font-weight: 700;
        font-size: 1.25rem;

        span {
            color: var(--text-primary);
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: var(--space-lg);
        justify-content: space-between;
        width: 100%;
    }

    ul#header-menu {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-md);
        font-weight: 600;

        li {
            display: inline-flex;
        }
    }
    @media (min-width: 640px) {
        a.mobile {
            display: none;
        }
        a.home {
            display: block;
        }
        ul#header-menu {
            flex-wrap: wrap;
        }
        .header-right {
            justify-content: flex-end;
            width: auto;
        }
    }
</style>
