---
import ThemeToggle from './ThemeToggle.astro';
import MegaMenu from './MegaMenu.astro';
import Bolt from './icons/Bolt.svg';
---

<header class="top">
    <div class="header-inner">
        <a class="home" href="/">M<span class="sr-only">Go to homepage</span></a>

        <div class="header-right" role="navigation" aria-label="Header controls">
            <MegaMenu />
            <a class="now-link header-icon" href="/now" aria-label="Currently"><Bolt /></a>
            <ThemeToggle />
        </div>
    </div>
</header>

<style>
    a {
        color: var(--text-secondary);
    }
    a:hover {
        color: var(--accent-primary);
    }
    header {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 200;
        background-color: var(--bg-header);
        backdrop-filter: blur(9px);
        border-bottom: 1px solid var(--border-primary);
        transition: border-color 0.28s var(--cubic-snappy);
        height: var(--header-height);
        display: flex;
        align-items: center;
    }

    .header-inner {
        width: 100%;
        max-width: var(--layout-width);
        margin: 0 auto;
        padding: var(--space-2) var(--layout-padding);
        display: flex;
        gap: var(--space-3);
        justify-content: space-between;
        align-items: center;
    }

    a.home {
        overflow: hidden;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: var(--font-heading);
        border-radius: var(--radius-sm);
        display: flex;
        height: 2rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        letter-spacing: 0;
    }
    a.home:hover {
        color: var(--bg-primary);
        background-color: var(--accent-primary);
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: var(--space-1);
        justify-content: flex-end;
    }

    a.now-link {
        display: inline-flex;
        padding: var(--2px);
    }

    @media (min-width: 560px) {
        header {
            border-bottom: 1px solid transparent;
        }

        header.scrolled {
            border-bottom-color: var(--border-primary);
        }
    }
</style>

<script>
    const header = document.querySelector('header');

    if (header) {
        window.addEventListener('scroll', () => {
            header.classList.toggle('scrolled', window.scrollY > 50);
        });
    }
</script>
