---
import ThemeToggle from './ThemeToggle.astro';
import MegaMenu from './MegaMenu.astro';

const current = Astro.url.pathname;
const isActive = (path: string) => current === path;
---

<header class="top">
    <div class="header-inner">
        <div class="header-section left">
            <a class="home" href="/"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="800px"
                    height="800px"
                    viewBox="0 0 512 512"
                    aria-hidden="true"
                    focusable="false"
                    ><path
                        d="M332.9 17.37c-11.7-.1-24.2 1.23-37.5 4.13-33.1 7.21-48.6 28.49-56.2 54.09 11.2 22.86 20.1 46.01 25 71.91-9.6-6.9-19.7-1.7-22.6 5-4.3-22.4-10-42.9-17.8-62.93-48.8-34.88-83-20.9-89.6-18.76C49.64 98.12 25.54 165.7 39.84 239.1c19.32-43.4 86.56-68.7 113.56-68.6 6.9.1 47 9.5 13.6 20-54.8 17.3-98.29 48.7-116.81 86 8.78 24.5 21.34 49.1 36.89 72.4 14.42-42 40.22-89 96.72-125.1 14.5-9.3 23.8.7 12.2 13.2-53.5 57.4-75.1 104.2-81 148.6 17.4 20.3 37.2 38.9 58.5 54.7 1.6-54.4 20.3-117.7 56.3-164.6 3.7-6.6 22-2.7 15.6 9-27.9 50.9-43.2 119.9-44.5 174 25.6 15.2 52.9 26.3 80.9 31.9-15.1-35.2-18.5-80.5-6.9-120.8 5.1-17.8 20.8-8.1 17.6 4.2-10 38.8 8.6 87.5 28.1 120.6 20.7.1 41.6-3.1 62.3-10.2 11.8-4 22.7-12.3 32.7-23.8-11.3-22.8-27-44.1-46.6-57.2-7.4-5-3.2-23.6 10.2-14.8 19.1 12.6 37.6 29.7 52.8 48.7 9.8-16.8 18.2-37 25-59.4-29.7-34.7-83.3-82-128.8-101.7-9.6-4.1-8.7-21.5 7.6-16.4 47.8 14.8 98 46.2 131.1 78 3.9-19.9 6.7-40.8 8.1-61.9-39-27.6-95.5-67.2-147.1-74.8-9.5-1.4-13.6-18.6 3-17.8 58.3 2.7 109.8 23.5 145.1 50.5-.5-28.6-3.6-56.7-9.7-82.9-41.7-13.6-113.5-18.5-141.5-6.1-11.1 4.9-29.9-4.8-6.8-16.6 37.6-22.1 94.5-22.8 138.3-11-21.3-57.97-60.7-99.32-123.4-99.83z"
                    ></path></svg
                ><span class="sr-only">Go to homepage</span></a
            >

            <a
                class="left-link desktop"
                href="/blog/"
                aria-current={isActive('/blog/') ? 'page' : undefined}>Blog</a
            >
            <a
                class="left-link desktop"
                href="/garden/"
                aria-current={isActive('/garden/') ? 'page' : undefined}>Garden</a
            >

            <MegaMenu />
        </div>
        <div
            class="header-section right"
            role="group"
            aria-label="Header controls"
            aria-roledescription="toolbar"
            tabindex="-1">
            <a href="/now/" class="now-link" aria-label="Currently"
                ><svg
                    class="sun"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    viewBox="760 1780 240 520"
                    aria-hidden="true"
                    focusable="false">
                    <g>
                        <path
                            d="M854.109,2080.465c-18.264-2.012-36.364-5.511-54.061-10.453-4.199-1.173-8.904-2.887-10.513-6.939-1.251-3.152-.177-6.701.948-9.9,5.71-16.226,12.664-31.982,19.61-47.719,19.317-43.76,38.634-87.521,57.951-131.281,3.472-7.864,7.087-15.94,13.264-21.919,12.054-11.67,30.578-12.626,47.353-12.86,23.562-.329,47.128-.587,70.689-.202,5.883.096,12.13.343,17.008,3.633,4.713,3.179,7.351,8.796,8.099,14.431,1.49,11.231-3.63,22.186-8.87,32.231-19.865,38.081-43.482,74.205-70.395,107.678,7.633,9.268,25.488,2.598,32.797,12.124,2.405,3.135,2.938,7.337,2.684,11.28-.584,9.077-4.804,17.492-9.334,25.379-8.542,14.87-18.475,28.888-28.391,42.88-34.505,48.686-69.01,97.373-103.514,146.06-4.525,6.384-9.808,13.274-17.5,14.713-1.39.26-2.887.312-4.16-.303-1.66-.803-2.618-2.569-3.251-4.3-3.139-8.578-.83-18.086,1.588-26.894,11.57-42.145,25.17-83.732,40.735-124.57"
                            style="fill: oklch(0.86 0.038 var(--peach-hue));"></path>
                        <path
                            d="M940.13,2086.165c-12.866-14.103-27.193-26.821-41.174-39.789-14.005-12.99-28.352-26.098-39.547-41.674-12.768-17.764-19.899-37.053-23.756-57.151-8.52,19.3-17.04,38.601-25.56,57.901-6.946,15.737-13.901,31.493-19.61,47.719-1.126,3.199-2.2,6.748-.949,9.9,1.609,4.052,6.313,5.766,10.513,6.939,17.697,4.942,35.797,8.442,54.061,10.454l2.736,13.066c-15.566,40.838-29.165,82.426-40.735,124.57-2.418,8.809-4.728,18.316-1.588,26.895.633,1.731,1.591,3.497,3.251,4.3,1.273.615,2.77.563,4.16.303,7.691-1.438,12.975-8.328,17.5-14.712,34.427-48.578,68.855-97.155,103.282-145.732-.871-.988-1.697-2.016-2.585-2.99Z"
                            style="fill: oklch(0.76 0.075 var(--peach-hue));"></path>
                        <path
                            d="M844.315,2090.077c-12.91,33.943-24.508,68.378-34.691,103.237-4.808,16.458-13.198,36.25-8.158,53.517,3.236,11.088,12.29,17.755,23.922,15.298,7.949-1.679,14.655-7.098,19.672-13.265,11.736-14.425,21.872-30.389,32.622-45.558,10.735-15.147,21.47-30.294,32.205-45.441,21.339-30.11,43.672-59.752,63.719-90.744,10.296-15.918,23.866-35.954,19.253-55.952-2.2-9.538-9.743-16.775-19.114-19.224-3.9-1.019-8.01-1.164-12.002-1.611-1.553-.174.144.03.382.074-1.001-.184-1.993-.378-2.964-.682-1.445-.453.09.133.307.187-1.408-.35-.854-.82.704,1.411.591,2.186,1.183,4.372,1.774,6.558.159,1.396-2.981,8-.719,4.248.979-1.623,1.935-3.258,2.938-4.868,3.084-4.947,6.267-9.833,9.437-14.725,9.183-14.169,18.398-28.318,27.375-42.62,9.015-14.362,17.984-28.831,25.831-43.874,5.939-11.386,11.613-23.854,10.825-37.018-.827-13.817-8.473-26.448-22.081-30.803-11.674-3.736-25.707-2.191-37.799-2.214-13.746-.027-27.491.107-41.236.285-22.635.293-48.699.155-65.524,17.917-8.695,9.178-13.174,21.156-18.191,32.521-5.366,12.156-10.732,24.311-16.098,36.467-11,24.919-22,49.838-33,74.757-6.18,14-12.44,27.97-18.236,42.135-5.555,13.577-15.771,32.018-3.373,44.786,4.832,4.977,11.671,6.933,18.166,8.668,7.04,1.881,14.14,3.533,21.286,4.956,7.149,1.424,14.339,2.593,21.561,3.578,2.093.285,4.186.566,6.282.827.943.119,1.886.233,2.831.341-3.475-.787-5.801-2.595-6.979-5.424-1.59-.938,1.801-1.753-.215-.027.272-1.438.255-1.397-.051.123-.174.734-.394,1.454-.66,2.159-2.27,6.64,2.602,14.206,9.076,15.985,7.125,1.958,13.706-2.411,15.984-9.076,2.856-8.357,2.317-18.646-4.313-25.062-4.58-4.432-10.705-4.347-16.616-5.125-4.815-.634-9.612-1.424-14.389-2.292-9.97-1.812-19.878-4.046-29.639-6.772-.947-.264-1.888-.541-2.827-.829-.465-.143-.607-.226-.624-.2-.196-.101-.392-.203-.588-.304.322.244.569.545.74.903.064.55,1.628,2.996.86,2.56-.563-.32,4.493-12.651,5.012-13.992,14.93-38.631,33.016-76.208,49.738-114.089,8.481-19.212,16.449-38.763,25.556-57.687,3.64-7.565,7.364-13.089,14.048-16.699,5.293-2.859,13.43-4.119,19.938-4.571,19.727-1.369,39.752-.851,59.518-.834,9.613.009,20.841-.974,29.91.492-.098-.016,3.36.989,2.739.734,2.914,1.193,1.384.989.917.574,2.186,1.947.885,1.087.608.657.966,1.496.908,1.513.58.719.356.86.638,1.841.852,2.735.392,1.635.473,3.188.248,5.524-.745,7.743-4.889,15.047-8.482,21.785-2.985,5.597-6.135,11.105-9.351,16.572-7.09,12.053-14.517,23.908-22.033,35.699-6.995,10.973-14.098,21.876-21.173,32.797-4.084,6.304-8.558,12.551-12.078,19.2-3.177,6-3.636,12.171,1.262,17.627,6.303,7.022,14.898,8.52,23.816,9.394.823.081,1.658.129,2.477.245-.707-.101-2.054-.591.171.113.658.208,1.671.572,2.305.659-.489-.067-1.403-.447-1.557-.954,0-.003.908,1.448.757.696-.063-.31-.392-1.432-.141.104.386,2.364.006-1.46.105.967.007.185-.026,2.884.04,2.155-.783,8.569-6.233,16.671-10.538,23.828-10.761,17.89-23.209,34.729-35.271,51.748-12.46,17.581-24.92,35.163-37.38,52.744-12.268,17.311-24.537,34.622-36.805,51.932-6.134,8.655-12.264,17.314-18.403,25.966-2.346,3.306-3.577,5.337-6.681,8.204-.035.032-1.863,1.505-.752.706-.513.369-2.219,1.032-2.472,1.419.135-.206.901-.569,1.062-.256,2.177,1.588,4.355,3.175,6.532,4.763-.301-.796-.544-1.609-.729-2.438-1.634-7.371,2.029-16.579,4.12-24.05,2.858-10.212,5.835-20.391,8.931-30.534,6.004-19.671,12.453-39.206,19.341-58.585,3.444-9.69,7.004-19.337,10.66-28.949,2.495-6.561-2.765-14.251-9.076-15.985-7.311-2.009-13.48,2.491-15.985,9.076Z"
                            style="fill: oklch(0.56 0.08 var(--peach-hue));"></path>
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M968.63,1865.357c-1.811-2.631-5.416-2.479-8.313-2.769-4.253-.426-8.83-.518-13.011-1.369-1.995-.405-3.843-1.278-5.771-1.855-2.013-.602-4.353-.667-6.435-.941-4.644-.609-9.156-.4-13.784.386-7.349,1.248-13.805,4.28-18.411,10.263-4.12,5.351-6.372,11.716-7.496,18.323-.513,3.013,3.197,6.07,5.65,3.289,3.634-4.12,6.883-8.66,10.961-12.373,4.478-4.078,9.237-4.619,14.997-5.531,3.516-.557,6.909-1.317,10.341-2.245,3.574-.966,7.125-2.733,10.784-3.198,3.716-.473,7.819-.303,11.547-.052,2.936.197,6.351,1.247,8.799-.821.288-.243.357-.796.143-1.107Z"
                            style="fill: oklch(0.98 0 var(--neutral-hue));"></path>
                    </g>
                </svg>
                <svg
                    class="moon"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    viewBox="760 1780 240 520"
                    aria-hidden="true"
                    focusable="false">
                    <g>
                        <path
                            d="M854.109,2080.465c-18.264-2.012-36.364-5.511-54.061-10.453-4.199-1.173-8.904-2.887-10.513-6.939-1.251-3.152-.177-6.701.948-9.9,5.71-16.226,12.664-31.982,19.61-47.719,19.317-43.76,38.634-87.521,57.951-131.281,3.472-7.864,7.087-15.94,13.264-21.919,12.054-11.67,30.578-12.626,47.353-12.86,23.562-.329,47.128-.587,70.689-.202,5.883.096,12.13.343,17.008,3.633,4.713,3.179,7.351,8.796,8.099,14.431,1.49,11.231-3.63,22.186-8.87,32.231-19.865,38.081-43.482,74.205-70.395,107.678,7.633,9.268,25.488,2.598,32.797,12.124,2.405,3.135,2.938,7.337,2.684,11.28-.584,9.077-4.804,17.492-9.334,25.379-8.542,14.87-18.475,28.888-28.391,42.88-34.505,48.686-69.01,97.373-103.514,146.06-4.525,6.384-9.808,13.274-17.5,14.713-1.39.26-2.887.312-4.16-.303-1.66-.803-2.618-2.569-3.251-4.3-3.139-8.578-.83-18.086,1.588-26.894,11.57-42.145,25.17-83.732,40.735-124.57"
                            style="fill: oklch(0.7 0.07 var(--peach-hue));"></path>
                        <path
                            d="M940.13,2086.165c-12.866-14.103-27.193-26.821-41.174-39.789-14.005-12.99-28.352-26.098-39.547-41.674-12.768-17.764-19.899-37.053-23.756-57.151-8.52,19.3-17.04,38.601-25.56,57.901-6.946,15.737-13.901,31.493-19.61,47.719-1.126,3.199-2.2,6.748-.949,9.9,1.609,4.052,6.313,5.766,10.513,6.939,17.697,4.942,35.797,8.442,54.061,10.454l2.736,13.066c-15.566,40.838-29.165,82.426-40.735,124.57-2.418,8.809-4.728,18.316-1.588,26.895.633,1.731,1.591,3.497,3.251,4.3,1.273.615,2.77.563,4.16.303,7.691-1.438,12.975-8.328,17.5-14.712,34.427-48.578,68.855-97.155,103.282-145.732-.871-.988-1.697-2.016-2.585-2.99Z"
                            style="fill: oklch(0.6 0.09 var(--peach-hue));"></path>
                        <path
                            d="M844.315,2090.077c-12.91,33.943-24.508,68.378-34.691,103.237-4.808,16.458-13.198,36.25-8.158,53.517,3.236,11.088,12.29,17.755,23.922,15.298,7.949-1.679,14.655-7.098,19.672-13.265,11.736-14.425,21.872-30.389,32.622-45.558,10.735-15.147,21.47-30.294,32.205-45.441,21.339-30.11,43.672-59.752,63.719-90.744,10.296-15.918,23.866-35.954,19.253-55.952-2.2-9.538-9.743-16.775-19.114-19.224-3.9-1.019-8.01-1.164-12.002-1.611-1.553-.174.144.03.382.074-1.001-.184-1.993-.378-2.964-.682-1.445-.453.09.133.307.187-1.408-.35-.854-.82.704,1.411.591,2.186,1.183,4.372,1.774,6.558.159,1.396-2.981,8-.719,4.248.979-1.623,1.935-3.258,2.938-4.868,3.084-4.947,6.267-9.833,9.437-14.725,9.183-14.169,18.398-28.318,27.375-42.62,9.015-14.362,17.984-28.831,25.831-43.874,5.939-11.386,11.613-23.854,10.825-37.018-.827-13.817-8.473-26.448-22.081-30.803-11.674-3.736-25.707-2.191-37.799-2.214-13.746-.027-27.491.107-41.236.285-22.635.293-48.699.155-65.524,17.917-8.695,9.178-13.174,21.156-18.191,32.521-5.366,12.156-10.732,24.311-16.098,36.467-11,24.919-22,49.838-33,74.757-6.18,14-12.44,27.97-18.236,42.135-5.555,13.577-15.771,32.018-3.373,44.786,4.832,4.977,11.671,6.933,18.166,8.668,7.04,1.881,14.14,3.533,21.286,4.956,7.149,1.424,14.339,2.593,21.561,3.578,2.093.285,4.186.566,6.282.827.943.119,1.886.233,2.831.341-3.475-.787-5.801-2.595-6.979-5.424-1.59-.938,1.801-1.753-.215-.027.272-1.438.255-1.397-.051.123-.174.734-.394,1.454-.66,2.159-2.27,6.64,2.602,14.206,9.076,15.985,7.125,1.958,13.706-2.411,15.984-9.076,2.856-8.357,2.317-18.646-4.313-25.062-4.58-4.432-10.705-4.347-16.616-5.125-4.815-.634-9.612-1.424-14.389-2.292-9.97-1.812-19.878-4.046-29.639-6.772-.947-.264-1.888-.541-2.827-.829-.465-.143-.607-.226-.624-.2-.196-.101-.392-.203-.588-.304.322.244.569.545.74.903.064.55,1.628,2.996.86,2.56-.563-.32,4.493-12.651,5.012-13.992,14.93-38.631,33.016-76.208,49.738-114.089,8.481-19.212,16.449-38.763,25.556-57.687,3.64-7.565,7.364-13.089,14.048-16.699,5.293-2.859,13.43-4.119,19.938-4.571,19.727-1.369,39.752-.851,59.518-.834,9.613.009,20.841-.974,29.91.492-.098-.016,3.36.989,2.739.734,2.914,1.193,1.384.989.917.574,2.186,1.947.885,1.087.608.657.966,1.496.908,1.513.58.719.356.86.638,1.841.852,2.735.392,1.635.473,3.188.248,5.524-.745,7.743-4.889,15.047-8.482,21.785-2.985,5.597-6.135,11.105-9.351,16.572-7.09,12.053-14.517,23.908-22.033,35.699-6.995,10.973-14.098,21.876-21.173,32.797-4.084,6.304-8.558,12.551-12.078,19.2-3.177,6-3.636,12.171,1.262,17.627,6.303,7.022,14.898,8.52,23.816,9.394.823.081,1.658.129,2.477.245-.707-.101-2.054-.591.171.113.658.208,1.671.572,2.305.659-.489-.067-1.403-.447-1.557-.954,0-.003.908,1.448.757.696-.063-.31-.392-1.432-.141.104.386,2.364.006-1.46.105.967.007.185-.026,2.884.04,2.155-.783,8.569-6.233,16.671-10.538,23.828-10.761,17.89-23.209,34.729-35.271,51.748-12.46,17.581-24.92,35.163-37.38,52.744-12.268,17.311-24.537,34.622-36.805,51.932-6.134,8.655-12.264,17.314-18.403,25.966-2.346,3.306-3.577,5.337-6.681,8.204-.035.032-1.863,1.505-.752.706-.513.369-2.219,1.032-2.472,1.419.135-.206.901-.569,1.062-.256,2.177,1.588,4.355,3.175,6.532,4.763-.301-.796-.544-1.609-.729-2.438-1.634-7.371,2.029-16.579,4.12-24.05,2.858-10.212,5.835-20.391,8.931-30.534,6.004-19.671,12.453-39.206,19.341-58.585,3.444-9.69,7.004-19.337,10.66-28.949,2.495-6.561-2.765-14.251-9.076-15.985-7.311-2.009-13.48,2.491-15.985,9.076Z"
                            style="fill: oklch(0.91 0.05 var(--peach-hue));"></path>
                        <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M968.63,1865.357c-1.811-2.631-5.416-2.479-8.313-2.769-4.253-.426-8.83-.518-13.011-1.369-1.995-.405-3.843-1.278-5.771-1.855-2.013-.602-4.353-.667-6.435-.941-4.644-.609-9.156-.4-13.784.386-7.349,1.248-13.805,4.28-18.411,10.263-4.12,5.351-6.372,11.716-7.496,18.323-.513,3.013,3.197,6.07,5.65,3.289,3.634-4.12,6.883-8.66,10.961-12.373,4.478-4.078,9.237-4.619,14.997-5.531,3.516-.557,6.909-1.317,10.341-2.245,3.574-.966,7.125-2.733,10.784-3.198,3.716-.473,7.819-.303,11.547-.052,2.936.197,6.351,1.247,8.799-.821.288-.243.357-.796.143-1.107Z"
                            style="fill: oklch(1 0 0);"></path>
                    </g>
                </svg></a
            >

            <ThemeToggle />
        </div>
    </div>
</header>

<style>
    .mobile {
        display: none;
    }

    a {
        color: var(--text-alt);
        text-decoration: none;
    }
    a:hover {
        color: var(--purple-accent);
    }

    header.top {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 200;
        background-color: var(--bg-header);
        backdrop-filter: blur(9px);
        transition: background-image var(--cubic-smooth);
        height: var(--header-height);
        display: flex;
        align-items: center;
        background-image: repeating-linear-gradient(
            to right,
            var(--border) 0 4px,
            transparent 4px 6px
        );
        background-size: 100% 1px;
        background-position: bottom;
        background-repeat: repeat-x;
    }

    .header-inner {
        width: 100%;
        max-width: var(--layout-width);
        margin: 0 auto;
        padding: var(--space-2) var(--layout-padding);
        display: flex;
        gap: var(--space-3);
        justify-content: space-between;
        align-items: center;
        height: var(--header-height);
    }

    .header-section {
        display: flex;
        align-items: center;
        gap: var(--space-2);
    }

    .left-link {
        font-weight: 600;
    }
    a.home {
        margin-right: var(--space-1);
        svg {
            width: 2.75rem;
            height: 2.75rem;
            stroke-width: 16;
            fill: var(--bg-alt);
        }
    }

    .header-section.right {
        justify-content: flex-end;
        gap: var(--space-1);
    }

    a.now-link {
        display: inline-flex;

        svg {
            width: 2.125rem;
            height: 2.125rem;
            stroke: transparent;
            stroke-width: 0;
        }

        &:hover svg {
            filter: grayscale(0.8);
        }
    }
    :global([data-theme='dark']) .sun,
    :global([data-theme='light']) .moon {
        display: none;
    }

    :global([data-theme='dark']) .moon,
    :global([data-theme='light']) .sun {
        display: block;
    }
</style>

<script>
    const header = document.querySelector('header');

    if (header) {
        window.addEventListener('scroll', () => {
            header.classList.toggle('scrolled', window.scrollY > 20);
        });
    }
</script>
