---
import ThemeToggle from './ThemeToggle.astro';
import Navigation from './Navigation.astro';
import { Rss } from '../components/icons';

const current = Astro.url.pathname;
const isActive = (path: string) => current === path;
---

<header class="top">
    <div class="header-inner">
        <div class="header-section left">
            <a
                class="monstera"
                href="/"
                aria-label="Go to homepage"
                aria-current={isActive('/') ? 'page' : undefined}>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="6 6 86 86">
                    <path
                        d="m24.578 84.156c-0.91797-0.57031-1.8242-1.5664-2.6094-2.7422-1.2344-1.8398-2.1992-4.0898-2.5938-5.3945-0.48047-1.5859-1.9805-5.668-2.1523-9.3242-0.12891-2.7656 0.52734-5.2773 2.5469-6.6367 0.73047-0.49219 1.9922-0.875 3.4922-1.1992 1.9805-0.42969 4.4102-0.80078 6.3633-1.4688 0.76953-0.26562 1.4648-0.57031 1.9922-0.96484 0.58594-0.43359 0.94141-0.97656 0.82422-1.7266-0.097656-0.64453-0.30078-1.1016-0.63672-1.3789-0.33984-0.28125-0.78906-0.37109-1.2969-0.39453-1.418-0.054687-3.2109 0.48828-5 0.98438-1.5977 0.44531-3.1914 0.85938-4.5625 0.93359-1.2383 0.0625-2.3164-0.15625-3.1406-0.75-0.84375-0.60547-1.4727-1.6094-1.6602-3.2422-0.71094-6.1289 2.1484-11.32 7.7734-13.996 3.2344-1.543 5.0469-1.5625 7.2617-1.2734 1.3398 0.17578 2.8438 0.48047 5 0.59766 0.14453 0.007812 0.58594-0.082032 0.98437-0.23438 0.09375-0.039062 0.22266-0.10937 0.3125-0.16016-0.28516-1.3398-1.4375-2.1797-2.7969-2.8242-2.6367-1.2539-6.1016-1.7227-7.7539-2.375-1.5859-0.625-2.3906-1.6797-2.6523-2.8125-0.375-1.625 0.42578-3.5391 2.0703-4.7617 7.9844-5.957 12.668-7.8008 21.086-9.1914 2.332-0.38672 6.5312-0.22266 8.7344 0.82031 2.6602 1.2578 3.6641 3.5117 3.8672 6.0273 0.17969 2.2422-0.30469 4.6992-0.65234 6.6797-0.085937 0.48047-0.33594 1.3945-0.60938 2.3164 0.88281-0.59375 1.8359-1.2109 2.5312-1.625 3.5469-2.1016 7.8594-3.2109 11.98-2.082 3.3086 0.90625 5.8828 3.3828 7.6562 6.5234 2.5781 4.5625 3.4414 10.516 2.5391 14.707-0.45703 2.125-2.1602 7.4883-4.9492 11.961-1.9453 3.1133-4.4297 5.7734-7.3359 6.7891-0.58203 0.20312-1.0625 0.03125-1.4297-0.44141-0.24219-0.3125-0.40625-0.98438-0.49219-1.3867-0.26172-1.2266-0.24219-2.5-0.44922-3.7383-0.19922-1.1719-0.39062-5.8203-1.7852-8.8789-0.44922-0.98438-1-1.8125-1.8164-2.1289-0.48047-0.1875-1.0391-0.16406-1.6992 0.078125-0.015625 0.023438-0.054687 0.09375-0.070312 0.14062-0.066407 0.17188-0.10156 0.38672-0.125 0.62891-0.082031 0.80469 0.003906 1.8789 0.15234 3.125 0.45313 3.7891 1.5312 9.0664 1.3359 13.605-0.13672 3.2891-0.95703 6.1992-2.9453 8.0586-1.1914 1.1133-4.7852 3.6445-7.8398 4.375-1.4375 0.34375-2.7695 0.28516-3.7852-0.29297-0.74219-0.42188-1.3438-1.1094-1.6992-2.1758-0.70703-2.1055-0.81641-4.3672-1.2109-6.5547-0.24609-1.3867-0.375-2.7969-0.72266-4.1602-0.039063-0.15625-0.21875-0.72656-0.51172-1.1914-0.0625-0.10156-0.1875-0.23438-0.25391-0.30469-1.1211 0.60938-2.0078 2.1914-2.0664 3.2031-0.10938 2.1133 0.62109 4.3672 1.0586 6.5625 0.51172 2.5547 0.64062 5.0312-0.74219 7.2148-0.32031 0.50391-1.3359 1.1953-2.7578 1.8086-2.832 1.2188-7.3281 2.4102-9.2812 2.418-2.418 0.011718-4.9102-0.48438-7.0898-1.5312-0.09375-0.046875-0.19141-0.097656-0.28906-0.15234-0.03125-0.019531-0.066406-0.042969-0.097656-0.0625zm1.9375-1.3516c1.7383 0.71094 3.6602 1.043 5.5312 1.0352 1.7812-0.007813 5.8867-1.1367 8.4766-2.25 0.625-0.26953 1.1602-0.53516 1.5391-0.78906 0.12891-0.089843 0.24219-0.15234 0.28906-0.23047 1.0938-1.7227 0.86719-3.6875 0.46094-5.7031-0.47266-2.3672-1.2148-4.8008-1.0938-7.0781 0.085938-1.5938 1.5078-4.0977 3.2852-4.9844 0.98438-0.48828 1.8555-0.13672 2.5195 0.65625 0.625 0.73828 1.0117 1.9258 1.0859 2.2188 0.35938 1.4141 0.49609 2.875 0.75391 4.3086 0.375 2.0859 0.46094 4.25 1.1367 6.2656 0.45703 1.3711 1.6992 1.4336 3.0469 1.1133 2.6953-0.64453 5.8594-2.8906 6.9102-3.8711 1.625-1.5234 2.1836-3.9492 2.2969-6.6406 0.1875-4.4297-0.88281-9.5781-1.3281-13.273-0.20703-1.7461-0.26953-3.1953-0.070312-4.1641 0.21484-1.0234 0.72656-1.6406 1.4141-1.8984 1.2422-0.46484 2.3008-0.42578 3.1992-0.078125 1.2617 0.49219 2.2461 1.6641 2.9453 3.1953 1.4766 3.2383 1.7305 8.1484 1.9375 9.3906 0.20313 1.207 0.17969 2.4453 0.43359 3.6367 2.168-1.0469 3.9883-3.1992 5.4922-5.6094 2.6367-4.2266 4.25-9.293 4.6836-11.301 0.8125-3.7812 0.007812-9.1445-2.3164-13.258-1.4961-2.6484-3.6211-4.7852-6.4102-5.5508-3.5742-0.97656-7.3086 0.046876-10.383 1.8711-1.5039 0.89062-4.2422 2.7852-4.7578 3.1445-14.484 15.328-26.133 38.945-31.078 49.844zm29.488-51.168c0.26562-0.81641 1.168-3.6641 1.3438-4.6484 0.32031-1.8242 0.79297-4.0859 0.625-6.1523-0.14453-1.793-0.79688-3.4336-2.6914-4.332-1.8945-0.89844-5.5117-0.98047-7.5156-0.64844-8.0625 1.332-12.543 3.1055-20.191 8.8086-0.92969 0.69531-1.5039 1.7227-1.293 2.6445 0.13672 0.57031 0.60156 1.043 1.3984 1.3594 1.6836 0.66406 5.207 1.1562 7.8867 2.4297 2.1094 1 3.707 2.4805 3.9922 4.6484 0.085937 0.65234-0.20312 1.2383-0.80469 1.6758-0.80469 0.58594-2.3047 0.83594-2.6836 0.81641-2.2266-0.11719-3.7773-0.43359-5.1562-0.61328-1.8672-0.24219-3.3867-0.20703-6.1094 1.0938-4.7812 2.2734-7.2148 6.6836-6.6094 11.895 0.10156 0.89062 0.35547 1.4766 0.8125 1.8047 0.47656 0.34375 1.1133 0.40234 1.832 0.36719 1.2383-0.066406 2.6719-0.46094 4.1172-0.86328 2.0117-0.55859 4.0352-1.1172 5.6328-1.0547 1 0.039062 1.8594 0.3125 2.5234 0.85937 0.66797 0.54688 1.168 1.3867 1.3672 2.6523 0.38281 2.4453-1.4297 4.0156-4.1875 4.9609-2.0234 0.69531-4.543 1.0938-6.5938 1.5352-1.1836 0.25781-2.1992 0.50781-2.7773 0.89453-1.4492 0.97656-1.7305 2.8477-1.6367 4.8281 0.16406 3.4648 1.6094 7.3242 2.0625 8.8242 0.35547 1.1719 1.2266 3.1914 2.3359 4.8477 0.34375 0.51562 0.70703 0.99609 1.0859 1.3945 5.0625-11.121 16.75-34.652 31.234-50.027z"
                        fill-rule="evenodd"></path>
                </svg>
            </a>

            <nav class="header-links shadow-lg" aria-label="Header navigation">
                <a
                    class="header-text desktop"
                    href="/garden/"
                    aria-current={isActive('/garden/') ? 'page' : undefined}>Garden</a
                >

                <Navigation />
            </nav>
        </div>
        <div
            class="header-section right"
            role="group"
            aria-label="Header controls"
            aria-roledescription="toolbar"
            tabindex="-1">
            <ThemeToggle />

            <a
                class="rss desktop"
                href="/rss.xml"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Subscribe via RSS">
                <Rss />
            </a>
        </div>
    </div>
    <div class="header-backdrop">
        <div class="blur blur-1"></div>
        <div class="blur blur-2"></div>
        <div class="blur blur-3"></div>
    </div>
</header>

<style>
    .header-backdrop {
        isolation: isolate;
        position: absolute;
        inset: 0 auto auto 0;
        width: 100%;
        height: 5rem;
        z-index: -1;
        background: linear-gradient(to bottom, var(--bg) 4%, transparent 100%);
        pointer-events: none;
    }

    .blur {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        backdrop-filter: blur(var(--blur));
        -webkit-backdrop-filter: blur(var(--blur));
        mask-image: linear-gradient(to top, var(--mask));
        -webkit-mask-image: linear-gradient(to top, var(--mask));
    }

    .blur-1 {
        --blur: 1.5px;
        --mask: transparent 0%, black 25%;
        z-index: 1;
    }

    .blur-2 {
        --blur: 5px;
        --mask: transparent 20%, black 75%;
        z-index: 2;
    }

    .blur-3 {
        --blur: 10px;
        --mask: transparent 70%, black 100%;
        z-index: 3;
    }

    .mobile {
        display: none;
    }

    a {
        color: var(--text-alt);
        text-decoration: none;
    }
    a:hover {
        color: var(--purple-accent);
    }

    header.top {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 200;
        padding-inline: var(--layout-padding);
    }

    .header-inner {
        width: 100%;
        max-width: calc(var(--layout-width) - var(--layout-padding) * 2);
        margin: 0 auto;
        display: flex;
        gap: var(--space-3);
        justify-content: space-between;
        align-items: center;
        padding: var(--space-2) 0;
        z-index: 12;
        position: relative;
    }
    .header-section {
        display: flex;
        align-items: center;
        gap: var(--space-2);
    }

    nav.header-links {
        display: flex;
        align-items: center;
        padding: 0 var(--space-4);
        gap: var(--space-3);
    }

    .header-links a[aria-current='page'] {
        border-bottom: var(--px1) solid var(--text-50);
        margin-bottom: calc(-1 * var(--px1));
    }

    :global(.header-text) {
        font-weight: 500;
        font-size: var(--text-sm);
        padding: 0.8125rem 0;
    }

    .monstera {
        color: var(--text-alt);
        svg {
            width: 2.5rem;
            height: 2.5rem;
            stroke-width: 1.5;
            fill: currentColor;
            stroke: currentColor;
        }
    }

    .header-section.right {
        justify-content: flex-end;
        gap: var(--space-1);
    }

    a.rss {
        border-radius: var(--radius-full);
        padding: calc(var(--px6) + var(--px1));
        background-color: var(--text-alt);
        color: var(--bg);
        width: calc(calc(var(--px4) * 3.5) + (calc(var(--px6) + var(--px1)) * 2));
        height: calc(calc(var(--px4) * 3.5) + (calc(var(--px6) + var(--px1)) * 2));

        svg {
            stroke-width: 3;
            height: calc(var(--px4) * 3.5);
            width: calc(var(--px4) * 3.5);
        }

        &:hover {
            background-color: var(--purple-accent);
            color: var(--bg);
        }
    }

    :global([data-theme='dark']) .sun,
    :global([data-theme='light']) .moon {
        display: none;
    }

    :global([data-theme='dark']) .moon,
    :global([data-theme='light']) .sun {
        display: block;
    }
    @media (prefers-reduced-transparency: reduce) {
        .header-backdrop {
            display: none;
        }
        header.top {
            background-color: var(--bg);
        }
    }
    .navigation-wrapper[data-astro-cid-pux6a34n] {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    @media (prefers-contrast: more) {
        .header-backdrop {
            background: none;
        }

        header.top {
            border-bottom: var(--px1) solid var(--border);
        }
    }
</style>
