---
import '../assets/styles/intro.css';
---

<section class="intro">
    <img class="profile" src="/images/me_intro.webp" alt="Picture of Flipse" />

    <div class="intro-text">
        <h1>Hi there</h1>

        <p>
            I'm
            <b>Flipse</b>
            <span class="pronouns">(she/her)</span>
            — a very
            <s>obsessed</s>
            excited tinkerer.
        </p>

        <p>
            I have worked on Tumblr
            <a
                href="https://mournstera.tumblr.com/"
                target="_blank"
                rel="noopener noreferrer">themes</a
            >
            for 15 years, but

            <a
                href="https://techcrunch.com/2024/02/22/tumblr-ceo-publicly-spars-with-trans-user-over-account-ban-revealing-private-account-names-in-the-process/"
                target="_blank"
                rel="noopener noreferrer">now</a
            >
            it's time to set
            <a
                href="https://changes.tumblr.com/post/797397804182044672/"
                target="_blank"
                rel="noopener noreferrer">sails</a
            >
            elsewhere.
        </p>

        <p>I'm an early disability retiree, so all this is just for kicks.</p>
    </div>
</section>
