---
import { Image } from 'astro:assets';
import desktopImage from '../assets/images/desksetup.webp';
import Vinyl from './icons/Vinyl.svg';
---

<section aria-labelledby="welcome-heading">
    <Image
        src={desktopImage}
        alt="My cozy desk space"
        class="welcome-desk"
        loading="eager"
        decoding="async"
        width={900}
        height={1200}
    />

    <div class="intro-text">
        <h1 id="welcome-heading">
            Hi I'm <span class="flipse">
                Flipse
                <span class="sparkles" aria-hidden="true">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <defs>
                            <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" stop-color="#ffe15c"></stop>
                                <stop offset="100%" stop-color="#f88f2c"></stop>
                            </linearGradient>
                        </defs>

                        <path
                            d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                            fill="url(#sparkleGradient)"></path>
                    </svg>

                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <defs>
                            <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" stop-color="#ffe15c"></stop>
                                <stop offset="100%" stop-color="#f88f2c"></stop>
                            </linearGradient>
                        </defs>

                        <path
                            d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                            fill="url(#sparkleGradient)"></path>
                    </svg>

                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <defs>
                            <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%" stop-color="#ffe15c"></stop>
                                <stop offset="100%" stop-color="#f88f2c"></stop>
                            </linearGradient>
                        </defs>

                        <path
                            d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                            fill="url(#sparkleGradient)"></path>
                    </svg>
                </span>
            </span>
        </h1>

        <h2>— a very excited tinkerer.</h2>

        <p>
            I have worked on Tumblr
            <a href="https://mournstera.tumblr.com/" target="_blank" rel="noopener noreferrer">themes</a>
            for 15 years, but

            <a
                href="https://techcrunch.com/2024/02/22/tumblr-ceo-publicly-spars-with-trans-user-over-account-ban-revealing-private-account-names-in-the-process/"
                aria-label="Read more on Tumblr CEO moderation and trans accounts controversy"
                target="_blank"
                rel="noopener noreferrer">now</a
            >
            it's time to set
            <a
                href="https://changes.tumblr.com/post/797397804182044672/"
                aria-label="Readm more about how Tumblr is rolling out ads blog sites with custom themes as well"
                target="_blank"
                rel="noopener noreferrer">sails</a
            >
            elsewhere. I started my first blog in 2000; we return to the old ship, learning better code.
        </p>

        <p>I'm an early disability retiree, so all this is just for kicks!</p>
        <div id="scrobble" aria-label="Latest scrobbled track">
            <Vinyl />
            <a
                class="track"
                href="https://listenbrainz.org/user/flipse"
                aria-label="See my latest scrobbled songs on ListenBrainz"
                target="_blank"
                rel="noopener noreferrer"
            >
            </a>
        </div>
    </div>
</section>

<style>
    /* ----- Section layout */
    section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: center;
    }

    /* ----- Desktop image */
    img.welcome-desk {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        border-radius: var(--radius-md);
        object-fit: cover;
        display: block;
        aspect-ratio: 6 / 5;
        border: var(--border) solid var(--border-color);
        filter: saturate(0.92);
    }

    :global([data-theme='dark']) img.welcome-desk {
        filter: brightness(0.95);
    }

    /* --- Typography */
    h2 {
        font-size: 1.0625rem;
        font-weight: 500;
        margin: var(--typo-margin) 0;
    }

    /* --- Links inside paragraphs  */
    .intro-text p a {
        text-decoration: underline;
        text-underline-offset: 0.125rem;

        &:hover {
            text-decoration-style: wavy;
            text-decoration-color: var(--text-primary);
        }
    }

    /*  --- sparkle */
    .flipse {
        position: relative;
        display: inline-block;
        line-height: 1;
    }

    .sparkles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* don't block text */
    }

    .sparkles svg {
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    .flipse svg path {
        stroke: transparent;
        stroke-width: 0;
    }

    .sparkles svg:nth-of-type(1) {
        --x: 15;
        --y: 0;
        --s: 1.15;
        top: calc(var(--y) * 1%);
        left: calc(var(--x) * 1%);
    }

    .sparkles svg:nth-of-type(2) {
        --x: 45;
        --y: 80;
        --s: 1;
        top: calc(var(--y) * 1%);
        left: calc(var(--x) * 1%);
    }

    .sparkles svg:nth-of-type(3) {
        --x: 100;
        --y: 30;
        --s: 0.75;
        top: calc(var(--y) * 1%);
        left: calc(var(--x) * 1%);
    }

    .sparkle-boop svg:nth-of-type(1) {
        animation: sparkle 0.85s 0s both;
    }

    .sparkle-boop svg:nth-of-type(2) {
        animation: sparkle 0.85s 0.15s both;
    }

    .sparkle-boop svg:nth-of-type(3) {
        animation: sparkle 0.85s 0.3s both;
    }

    @keyframes sparkle {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, -50%) scale(var(--s, 1));
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
    }

    /* --- Scrobble */
    #scrobble {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        var(--typo-margin) 0;

        svg {
            flex-shrink: 0;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    a.track {
        font-family: var(--font-mono);
        font-size: 0.8125rem;
        display: inline-block;
        color: var(--text-secondary);
        line-height: 1.4;

        &:hover {
            color: var(--accent-primary);
        }
    }

    /* ----- Media Queries */
    @media (prefers-reduced-motion: reduce) {
        .vinyl-wrap {
            animation: none;
        }
        .sparkle-boop {
            animation: none;
            opacity: 0;
        }
    }
    @media (min-width: 425px) {
        #scrobble {
            flex-wrap: nowrap;
        }
    }

    @media (min-width: 570px) {
        section {
            grid-template-columns: auto 1fr;
            gap: 3rem;
        }

        img.welcome-desk {
            max-width: 200px;
            border-radius: 9999px;
            aspect-ratio: 7 / 15;
        }
    }
</style>
<script src="/scripts/scrobble.js" defer></script>
<script is:inline>
    const flipse = document.querySelector('.flipse');
    const sparkles = flipse.querySelector('.sparkles');

    flipse.addEventListener('mouseenter', () => {
        sparkles.classList.add('sparkle-boop');

        setTimeout(() => {
            sparkles.classList.remove('sparkle-boop');
        }, 1200);
    });
</script>
