---

---

<section>
    <h1>
        Hi I'm <span class="flipse">
            Flipse
            <span class="sparkles" aria-hidden="true">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                        <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" stop-color="#ffe15c"></stop>
                            <stop offset="100%" stop-color="#f88f2c"></stop>
                        </linearGradient>
                    </defs>

                    <path
                        d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                        fill="url(#sparkleGradient)"></path>
                </svg>

                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                        <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" stop-color="#ffe15c"></stop>
                            <stop offset="100%" stop-color="#f88f2c"></stop>
                        </linearGradient>
                    </defs>

                    <path
                        d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                        fill="url(#sparkleGradient)"></path>
                </svg>

                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                        <linearGradient id="sparkleGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" stop-color="#ffe15c"></stop>
                            <stop offset="100%" stop-color="#f88f2c"></stop>
                        </linearGradient>
                    </defs>

                    <path
                        d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
                        fill="url(#sparkleGradient)"></path>
                </svg>
            </span>
        </span>!
    </h1>

    <h2>— a very excited tinkerer.</h2>

    <p>
        I have worked on Tumblr
        <a href="https://mournstera.tumblr.com/" target="_blank" rel="noopener noreferrer"
            >themes</a
        >
        for 15 years, but

        <a
            href="https://techcrunch.com/2024/02/22/tumblr-ceo-publicly-spars-with-trans-user-over-account-ban-revealing-private-account-names-in-the-process/"
            aria-label="Read more on Tumblr CEO moderation and trans accounts stalking"
            target="_blank"
            rel="noopener noreferrer">now</a
        >
        it's time to set
        <a
            href="https://changes.tumblr.com/post/797397804182044672/"
            aria-label="Readm more about how Tumblr is rolling out ads blog sites with custom themes as well"
            target="_blank"
            rel="noopener noreferrer">sails</a
        >
        elsewhere. I started my first blog in 2000; we return to the old ship, learning better code.
    </p>

    <p>
        I'm here dipping my toes into the indieweb. I'm an early disability retiree, so all this
        is just for kicks!
    </p>
</section>

<style>
    section {
        max-width: 32rem;
    }
    h2 {
        font-size: 1.0625rem;
        font-weight: 500;
    }

    /*  --- sparkle */
    .flipse {
        position: relative;
        display: inline-block;
        line-height: 1;
    }

    .sparkles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* hey don't block text */
    }

    .sparkles svg {
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        top: calc(var(--y) * 1%);
        left: calc(var(--x) * 1%);
    }

    .flipse svg path {
        stroke: transparent;
        stroke-width: 0;
    }

    .sparkles svg:nth-of-type(1) {
        --x: 15;
        --y: 0;
        --s: 1.15;
    }

    .sparkles svg:nth-of-type(2) {
        --x: 45;
        --y: 80;
        --s: 1;
    }

    .sparkles svg:nth-of-type(3) {
        --x: 100;
        --y: 30;
        --s: 0.75;
    }

    .sparkle-boop svg:nth-of-type(1) {
        animation: sparkle 0.85s 0s both;
    }

    .sparkle-boop svg:nth-of-type(2) {
        animation: sparkle 0.85s 0.15s both;
    }

    .sparkle-boop svg:nth-of-type(3) {
        animation: sparkle 0.85s 0.3s both;
    }

    @keyframes sparkle {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
        50% {
            transform: translate(-50%, -50%) scale(var(--s, 1));
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
        }
    }

    /* ----- Media Queries */
    @media (prefers-reduced-motion: reduce) {
        .sparkle-boop {
            animation: none;
            opacity: 0;
        }
    }
    @media (min-width: 425px) {
        #scrobble {
            flex-wrap: nowrap;
        }
    }

    @media (min-width: 570px) {
        img.welcome-desk {
            border-radius: 9999px;
            aspect-ratio: 7 / 15;
        }
    }
</style>

<script src="/scripts/sparkle.js" defer></script>
