/* blog-index.css for /blog and blog-tag pages */

/* ----- TAGS */
ul.tag-list {
    display: flex;
    gap: var(--space-2);
    flex-wrap: wrap;

    li {
        display: flex;
    }
}

ul.tag-list a {
    font-weight: 500;
    padding: var(--space-0) var(--space-1);
    color: var(--purple-accent);
    background-color: var(--purple-bg);
    border: var(--px1) solid var(--purple-border);
    text-decoration: none;
    border-radius: var(--radius-sm);
}
ul.tag-list a:hover {
    border-color: var(--peach-border);
    color: var(--peach-accent);
    background-color: var(--peach-bg);
}
ul.tag-list a.active {
    border-color: var(--border);
    color: var(--text);
    background-color: var(--bg-alt);
}

/* ----- POST LIST */
ul.post-list li:not(:last-of-type) {
    margin-bottom: var(--space-7);
}
ul.post-list li {
    display: flex;
}
ul.post-list li::before {
    content: '';
    display: block;
    width: var(--px4);
    height: auto;
    background-color: var(--purple-border);
    border-radius: var(--px3);
    margin-right: var(--space-5);
    flex: none;
}
ul.post-list a {
    display: inline-block;
    font-size: var(--h2);
}
ul.post-list h2 {
    display: inline;
    font-size: inherit;
}

ul.post-list p {
    margin: var(--px2) 0 0 0;
    line-height: var(--line-height-sub);
}
ul.post-list .date-wrap {
    display: flex;
    gap: var(--space-0);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    margin-top: var(--space-1);
    align-items: center;
}
ul.post-list svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--peach-accent);
}

ul.post-list li.blog-list h2 {
    font-family: var(--font-primary);
}
