@font-face {
    font-family: 'InterV';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/InterV.woff2') format('woff2');
}
@font-face {
    font-family: 'InterV';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/InterV-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto MonoV';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/RobotoMonoV.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto MonoV';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/RobotoMonoV-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Ed Old';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/fonts/EdOld-200.woff2') format('woff2');
}
@font-face {
    font-family: 'Ed Old';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('/assets/fonts/EdOld-200-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Ed Old';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/EdOld-400.woff2') format('woff2');
}
@font-face {
    font-family: 'Ed Old';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/EdOld-400-Italic.woff2') format('woff2');
}
