/* garden-index.css */

h1 {
    margin-bottom: var(--text-margin-lg);
}

.divider.grey {
    margin-block: var(--space-5);
}
/* ------------- GARDEN POST LIST */
h2.garden-kind-title {
    color: var(--text);
    margin-block: var(--space-8);
    font-size: var(--h4);
    text-transform: uppercase;
    font-weight: 700;
}

section.garden-kind-group:first-of-type h2.garden-kind-title {
    margin-top: 0;
}
ul.garden-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}
/* GardenPost.astro */
article.garden-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    svg {
        vertical-align: text-bottom;
        stroke-width: 2;
    }
    time {
        font-size: var(--text-xs);
        margin-bottom: var(--space-0);
        font-family: var(--font-mono);
        font-weight: 500;

        svg {
            width: var(--text-md);
            height: var(--text-md);
        }
    }
    a.title-link {
        font-size: var(--h3);
        color: var(--text-alt);

        h2 {
            color: inherit;
            display: inline;
            font-size: inherit;
            margin: 0;
        }

        &:hover {
            color: var(--peach-accent);
        }
    }

    p.garden-post-description {
        line-height: var(--line-height-sub);
        margin-top: var(--px2);
        margin-bottom: var(--px6);
        font-style: italic;
    }
    ul.post-tags {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-0) var(--space-1);
        font-size: var(--text-sm);

        a {
            font-weight: 380;
            color: var(--text-alt);
            text-decoration-color: transparent;

            &:hover {
                color: var(--peach-accent);
                text-decoration-color: var(--peach-border);
            }
        }
    }
}

/*  ------------- SIDEBAR (tags) */

h2.garden-tags-title {
    color: var(--text);
    font-size: var(--text-md);
    font-weight: 700;
    text-transform: uppercase;
}
ul.garden-tags {
    margin-top: var(--space-4);
    display: flex;
    gap: var(--space-2);
    flex-wrap: wrap;

    li {
        display: inline-flex;
    }

    a {
        font-weight: 500;
        padding: var(--px6) calc(var(--px5) * 2);
        color: var(--text);
        background-color: var(--bg-alt);
        border: var(--px1) solid var(--border);
        text-decoration: none;
        border-radius: var(--radius-full);
        line-height: 0.99;

        &:hover {
            border-color: var(--peach-border);
            color: var(--peach-accent);
            background-color: var(--peach-bg);
        }
    }
    a.active {
        border-color: var(--purple-border);
        color: var(--purple-accent);
        background-color: var(--purple-bg);
    }
}
