/* garden-index.css for /garden and garden-tag pages */

h1 {
    margin-bottom: var(--text-margin-lg);
}
/*  TAGS */

ul.garden-tags {
    display: flex;
    gap: var(--space-2);
    flex-wrap: wrap;

    li {
        display: flex;
    }
}

ul.garden-tags a {
    font-weight: 500;
    padding: var(--space-0) var(--space-1);
    color: var(--purple-accent);
    background-color: var(--purple-bg);
    border: var(--px1) solid var(--purple-border);
    text-decoration: none;
    border-radius: var(--radius-full);

    &:hover {
        border-color: var(--peach-border);
        color: var(--peach-accent);
        background-color: var(--peach-bg);
    }
}

ul.garden-tags a.active {
    border-color: var(--border);
    color: var(--text);
    background-color: var(--bg-alt);
}

/* POST LIST */

ul.post-list {
    display: grid;
    grid-template-columns: 1fr;

    a {
        display: inline-block;
        font-size: var(--h2);
    }

    h2 {
        display: inline;
        font-size: inherit;
    }

    p {
        margin: var(--px2) 0 0 0;
        line-height: var(--line-height-sub);
    }
    .date-wrap {
        display: flex;
        gap: var(--space-0);
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        margin-top: var(--space-1);
        align-items: center;
    }
    svg {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--peach-accent);
    }
}

ul.post-list li {
    display: flex;

    &::before {
        content: '';
        display: block;
        width: var(--px4);
        height: auto;
        background-color: var(--purple-border);
        border-radius: var(--px3);
        margin-right: var(--space-5);
        flex: none;
    }
}

@media (min-width: 768px) {
    ul.post-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
