:root {
    --font-primary:
        'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-mono:
        'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, monospace;
    --main-width: 880px;
}

:root,
html[data-theme='light'] {
    color-scheme: light;
    --text-primary: 0 0% 16%;
    --text-secondary: 0 0% 33%;
    --bg-primary: 0 0% 96%;
    --bg-secondary: 0 0% 91%;
    --accent-primary: 71 75% 36%;
    --border-color: 0 0% 85%;
    --filter-img: grayscale(100%) saturate(0.9);

    ::selection {
        background: hsl(var(--accent-primary));
        color: hsl(0, 0%, 0%);
    }
}

html[data-theme='dark'] {
    color-scheme: dark;
    --text-primary: 0 0% 99%;
    --text-secondary: 0 0% 56%;
    --bg-primary: 0 0% 6%;
    --bg-secondary: 0 0% 15%;
    --accent-primary: 71 46% 39%;
    --border-color: 0 0% 25%;
    --filter-img: grayscale(100%) brightness(0.8);

    ::selection {
        background: hsl(var(--accent-primary));
        color: hsl(0, 0%, 100%);
    }
}

html {
    height: 100%;
    scrollbar-color: hsl(var(--text-primary) / 0.5) hsl(var(--bg-primary));

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: hsl(var(--bg-primary));
    }

    &::-webkit-scrollbar-thumb {
        background-color: hsl(var(--text-primary));
        border: 3px solid hsl(var(--bg-primary));
        border-radius: 5px;
    }
}

a {
    color: hsl(var(--text-primary));
    text-decoration: none;
    overflow-wrap: anywhere;
    display: inline;

    &:hover {
        color: hsl(var(--accent-primary));
    }
}

body {
    font-family: var(--font-primary);
    color: hsl(var(--text-primary));
    background-color: hsl(var(--bg-primary));
    height: 100%;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}

button.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.375rem;
    border-radius: 0.375rem;
    color: hsl(var(--bg-primary));
    background: hsl(var(--text-primary));
    cursor: default;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;

    &.visible {
        cursor: pointer;
        color: hsl(var(--bg-primary));
        background-color: hsl(var(--text-primary));
        opacity: 1;
        pointer-events: auto;
    }
}

main {
    flex: 1;
    max-width: var(--main-width);
    margin: auto;
    padding: 2rem;
}

/* HEADER */
header.site-header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid hsl(var(--border-color));
    z-index: 1;
    background: hsl(var(--bg-primary) / 0.9);
    backdrop-filter: blur(8px);

    .site-header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--main-width);
        margin: 0 auto;
        padding: 1rem 2rem;
    }
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a.home {
    font-weight: 700;
    font-size: 1.125rem;
}

ul.main-menu {
    display: flex;
    align-items: center;
    gap: 1.5625rem;

    li {
        display: flex;

        a {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            svg {
                width: 1.125rem;
                height: 1.125rem;
                color: hsl(var(--text-primary));
            }
        }
    }
}

/* FOOTER */
footer.site-footer {
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto;
    padding: 0.0625rem 2rem 0 2rem;

    .site-footer-inner {
        border-top: 0.0625rem solid hsl(var(--border-color));
        padding: 1.2rem 0;
        display: flex;
        justify-content: space-between;
    }
}
