:root {
    --font-primary: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-mono: 'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, monospace;
    --layout-width-sm: calc(35rem + var(--layout-padding) * 2); /* 560px / 590px */
    --layout-width-lg: calc(50rem + var(--layout-padding) * 2); /* 800px - 860px */
    --layout-padding: 1.875rem; /* 30px */
    --header-height: 4rem; /* 64px */
    --space-0: 0.5rem; /* 8px */
    --space-1: 0.75rem; /* 12px */
    --space-2: 0.9375rem; /* 15px */
    --space-3: 1.25rem; /* 20px */
    --space-4: 1.5625rem; /* 25px */
    --space-5: 1.875rem; /* 30px */
    --space-6: 2.5rem; /* 40px */
    --space-7: 3.75rem; /* 60px */
    --space-8: 5rem; /* 100px */
    --space-9: 6.25rem; /* 100px */

    --radius-sm: 0.3125rem; /* 5px */
    --radius-md: 0.5rem; /* 8px */
    --radius-lg: 0.75rem; /* 12px */
    --radius-full: 9999px; /* circle */

    --border-thin: 0.0625rem; /* 1px */
    --border-medium: 0.125rem; /* 2px */

    --h1: 1.875rem; /* 30px */
    --h2: 1.375rem; /* 22px */
    --h3: 1.125rem; /* 18px */
    --line-height: 1.5;
    --spacing-paragraph: 1.25rem; /* 20px */

    --transition-sm: 0.12s ease;
    --transition-md: 0.2s ease;
}
:root,
html[data-theme='light'] {
    color-scheme: light;
    --color-text: hsl(0 0 20%);
    --color-text-muted: hsl(0 0 47%);
    --color-bg: hsl(0 0% 98%);
    --color-bg-alt: hsl(0 0% 94%);
    --color-header: hsla(0, 0%, 98%, 0.88);
    --color-border: hsl(0 0% 85%);
    --color-accent1: hsl(66 58% 40%);
    --color-accent2: hsl(13 59% 55%);

    ::selection {
        background: var(--color-accent1);
        color: hsl(0 0% 0%);
    }
}

html[data-theme='dark'] {
    color-scheme: dark;
    --color-text: hsl(0 0% 98%);
    --color-text-muted: hsl(0 0% 65%);
    --color-bg: hsl(0 0% 5%);
    --color-bg-alt: hsl(0 0% 13%);
    --color-header: hsla(0, 0%, 5%, 0.88);
    --color-border: hsl(0 0% 30%);
    --color-accent1: hsl(66 44% 45%);
    --color-accent2: hsl(13 74% 61%);

    ::selection {
        background: var(--color-accent1);
        color: hsl(0 0% 100%);
    }
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    transition: none;
    scrollbar-color: var(--color-text) var(--color-bg);
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        width: 0.875rem; /* ~14px */
    }
    &::-webkit-scrollbar-track {
        background: var(--color-bg);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-text);
        border: var(--border-thin) solid var(--color-bg);
        border-radius: var(--radius-sm);
    }
}

html[data-ready='true'] {
    transition:
        background-color var(--transition-md),
        color var(--transition-md);
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition: 0s;
    }

    html {
        scroll-behavior: auto;
    }

    html[data-ready='true'] {
        transition: none;
    }
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

svg {
    stroke: currentColor;
    stroke-width: 1.75;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    overflow-wrap: break-word;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
    scrollbar-gutter: stable;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: var(--layout-width-sm);
    padding: var(--space-7) var(--space-5);
}

section {
    width: 100%;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

p,
h1,
h2,
h3 {
    line-height: var(--line-height);
    margin: var(--spacing-paragraph) 0;
}

a {
    color: var(--color-text-muted);
    text-decoration: none;
    overflow-wrap: anywhere;

    &:hover {
        color: var(--color-accent1);
    }
}

p a {
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-accent2);
    text-underline-offset: var(--border-medium);
    text-decoration-thickness: var(--border-medium);

    &:hover {
        color: var(--color-accent1);
        text-decoration-style: wavy;
        text-decoration-color: var(--color-text);
        text-decoration-thickness: var(--border-thin);
    }
}
