:root {
    --font-primary: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-mono: 'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, monospace;
    --main-width: 50rem;
    --space-sm: 0.9375rem; /* 15px */
    --space-md: 1.25rem; /* 20px */
    --space-lg: 1.875rem; /* 30px */
    --space-xl: 3.75rem; /* 60px */
    --radius-sm: 0.3125rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --border: 0.0625rem;
    --line-height: 1.5;
    --transition-sm: 0.12s ease;
    --transition-md: 0.2s ease;
    --typo-margin: 1.25rem;
}

:root,
html[data-theme='light'] {
    color-scheme: light;
    --text-primary: hsl(75 1% 21%);
    --text-secondary: hsl(75 1% 40%);
    --bg-primary: hsl(0 0% 98%);
    --bg-secondary: hsl(60 4% 96%);
    --accent-primary: hsl(66 62% 35%);
    --border-color: hsl(66 4% 88%);
    --header-bg: hsl(60 4% 96% / 0.9);

    ::selection {
        background: var(--accent-primary);
        color: hsl(0, 0%, 0%);
    }
}

html[data-theme='dark'] {
    color-scheme: dark;
    --text-primary: hsl(0 0% 98%);
    --text-secondary: hsl(0 0% 68%);
    --bg-primary: hsl(56 3% 9%);
    --bg-secondary: hsl(66 0% 13%);
    --accent-primary: hsl(66 62% 35%);
    --border-color: hsl(0 0% 26%);
    --header-bg: hsl(66 0% 13% / 0.9);

    ::selection {
        background: var(--accent-primary);
        color: hsl(0, 0%, 100%);
    }
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    transition: none;
    scrollbar-color: var(--text-primary) var(--bg-primary);
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        width: 14px;
    }
    &::-webkit-scrollbar-track {
        background: var(--bg-primary);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--text-primary);
        border: 3px solid var(--bg-primary);
        border-radius: 5px;
    }
}
html[data-ready='true'] {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition: 0s;
    }
    html {
        scroll-behavior: auto;
    }

    html[data-ready='true'] {
        transition: none;
    }
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
}

svg {
    stroke: currentColor;
    stroke-width: 1.7;
    width: 1.25rem;
    height: 1.25rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    overflow-wrap: break-word;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

a {
    color: var(--text-primary);
    text-decoration: none;
    overflow-wrap: anywhere;

    &:hover {
        color: var(--accent-primary);
    }
}

body {
    font-family: var(--font-primary);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}

main {
    flex: 1;
    max-width: var(--main-width);
    margin: auto;
    padding: var(--space-xl) var(--space-lg);
}
