:root {
    --font-primary:
        'Inter', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-mono:
        'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, monospace;
    --main-width: 880px;
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
}

:root,
html[data-theme='light'] {
    color-scheme: light;
    --text-primary: 0 0% 16%;
    --text-secondary: 0 0% 30%;
    --bg-primary: 0 0% 96%;
    --bg-secondary: 0 0% 91%;
    --accent-primary: 71 75% 36%;
    --border-color: 0 0% 85%;

    ::selection {
        background: hsl(var(--accent-primary));
        color: hsl(0, 0%, 0%);
    }
}

html[data-theme='dark'] {
    color-scheme: dark;
    --text-primary: 0 0% 99%;
    --text-secondary: 0 0% 70%;
    --bg-primary: 0 0% 6%;
    --bg-secondary: 0 0% 15%;
    --accent-primary: 71 46% 39%;
    --border-color: 0 0% 25%;

    ::selection {
        background: hsl(var(--accent-primary));
        color: hsl(0, 0%, 100%);
    }
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
}

svg {
    stroke: currentColor;
    stroke-width: 2;
    width: 1.25rem;
    height: 1.25rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

html {
    font-size: 16px;
}

@media not (prefers-reduced-motion) {
    html {
        scroll-behavior: smooth;
    }
}

button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    overflow-wrap: break-word;
    word-break: break-word;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

html {
    scrollbar-color: hsl(var(--text-primary) / 0.5) hsl(var(--bg-primary));
    scrollbar-width: auto; /* or thin if you prefer */

    @supports selector(::-webkit-scrollbar) {
        &::-webkit-scrollbar {
            width: 14px;
        }
        &::-webkit-scrollbar-track {
            background: hsl(var(--bg-primary));
        }
        &::-webkit-scrollbar-thumb {
            background-color: hsl(var(--text-primary));
            border: 3px solid hsl(var(--bg-primary));
            border-radius: 5px;
        }
    }
}

a {
    color: hsl(var(--text-primary));
    text-decoration: none;
    overflow-wrap: anywhere;

    &:hover {
        color: hsl(var(--accent-primary));
    }
}

body {
    font-family: var(--font-primary);
    color: hsl(var(--text-primary));
    background-color: hsl(var(--bg-primary));
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}

main {
    flex: 1;
    max-width: var(--main-width);
    margin: auto;
    padding: 2rem;
}
