main {
    flex: unset;
}

section.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}
img.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    border-radius: 1.2rem;
    filter: var(--filter-img);
    transition: filter 0.5s ease;
    will-change: filter;
    display: block;
}

img.profile:hover {
    filter: saturate(1) brightness(1);
}

.intro-text {
    h1 {
        font-size: 2.6rem;
    }

    p {
        line-height: 1.5rem;
        margin: 1.5rem 0;

        a {
            text-decoration: underline;
            color: hsl(var(--text-primary));

            &:hover {
                color: hsl(var(--accent-primary));
            }
        }
    }

    s {
        position: relative;
        text-decoration: none;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -3%;
            width: 104%;
            height: 2px;
            background-color: currentColor;
            transform: rotate(-9deg);
            transform-origin: center;
        }
    }
}

@media (max-width: 640px) {
    section.intro {
        grid-template-columns: 1fr;
    }
    img.profile {
        aspect-ratio: 3 / 2;
    }
}
@media (max-width: 425px) {
    img.profile {
        aspect-ratio: 1 / 1;
    }
}
