/* CSS RESET */
*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
* {
    margin: 0;
}
svg {
    stroke-width: 2;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
button,
textarea,
select {
    font: inherit;
}
button {
    border: 0;
    background: transparent;
    padding: 0;
    display: inherit;
    cursor: pointer;
    color: inherit;
    text-transform: inherit;
}
input {
    font: inherit;
    border: none;
    outline: 0;
    padding: 0;
    background-color: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    overflow-wrap: break-word;
    word-break: break-word;
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
