---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {
    pageTitle = 'Mournstera',
    seoTitle,
    pageDescription = 'Blog and playground of Flipse.',
    pageImage = '/social-default.png',
    mainClass = '',
    isPost = false, // auto-hide outer h1 if true
} = Astro.props;
---

<html lang="en" data-theme="light">
    <head>
        <BaseHead title={seoTitle ?? pageTitle} description={pageDescription} image={pageImage} />
    </head>
    <body>
        <Header />

        <main class={mainClass}>
            {!isPost && pageTitle && <h1>{pageTitle}</h1>}

            <div
                class="layout-container"
                class:list={{
                    'has-upper': Astro.slots['upper-section'],
                    'has-sidebar': Astro.slots.sidebar,
                }}>
                {
                    Astro.slots['upper-section'] && (
                        <section class="upper-section">
                            <slot name="upper-section" />
                        </section>
                    )
                }

                {
                    Astro.slots.sidebar && (
                        <aside class="sidebar">
                            <slot name="sidebar" />
                        </aside>
                    )
                }

                <section class="main-content">
                    <slot />
                </section>
            </div>
        </main>

        <Footer />
    </body>
</html>
