---
// BaseLayout.astro
import BaseHead from '@/components/base/BaseHead.astro';
import Header from '@/components/base/Header.astro';
import Footer from '@/components/base/Footer.astro';
import { siteDescription } from '@/assets/data/site-desc';

const {
    pageTitle = 'Mournstera',
    seoTitle,
    pageDescription = siteDescription,
    pageImage = '/social-default.png',
    mainClass = '',
    isPost = false,
    hasSidebar: hasSidebarProp,
} = Astro.props;

const hasUpper = Astro.slots.has('upper-section');

const hasSidebar = hasSidebarProp !== undefined ? hasSidebarProp : Astro.slots.has('sidebar');
---

<html lang="en">
    <head>
        <BaseHead title={seoTitle ?? pageTitle} description={pageDescription} image={pageImage} />
    </head>
    <body>
        <Header />

        <main
            class:list={[
                mainClass,
                {
                    'has-upper': hasUpper,
                    'has-sidebar': hasSidebar,
                },
            ]}>
            {!isPost && pageTitle && <h1>{pageTitle}</h1>}

            <div class="layout-container">
                {
                    hasUpper && (
                        <section class="upper-section">
                            <slot name="upper-section" />
                        </section>
                    )
                }

                {
                    hasSidebar && (
                        <aside class="sidebar">
                            <slot name="sidebar" />
                        </aside>
                    )
                }

                <section class="main-content">
                    <slot />
                </section>
            </div>
        </main>

        <Footer />
    </body>
</html>
