---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Scroll from '../components/Scroll.astro';
import '../assets/styles/global.css';
const { pageTitle, pageDescription, pageImage, mainClass } = Astro.props;
---

<html lang="en" data-theme="light">
    <head>
        <BaseHead
            title={pageTitle}
            description={pageDescription}
            image={pageImage}
        />
    </head>
    <body>
        <Header />
        <main class={mainClass}>
            <slot />
        </main>
        <Footer />

        <Scroll />
    </body>
</html>
