---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../assets/styles/global.css';
import '../assets/styles/reset.css';
const { pageTitle, pageDescription, pageImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead
            title={pageTitle}
            description={pageDescription}
            image={pageImage}
        />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
